{% extends "dashboard.html" %}
{% block logs %}
<script type="text/javascript" src="../static/js/features/item.js"></script>
<div class="request-page-def">
    <div class="row">
        <div class="col-md-2"><span class="request-text"> Logs </span></div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <table class="table" id="logsTable">
                <thead>
                    <tr>
                        <th>ID Number</th>
                        <th>Item Code</th>
                        <th>Item Name</th>
                        <th>Issue Date</th>
                        <th>Date/Time Return</th>
                    </tr>
                </thead>
                <tbody>
                    {% for l in logs %}
                        <tr>
                            <td>{{ l[1] }}</td>
                            <td>{{ l[6] }}</td>
                            <td>{{ l[7] }}</td>
                            <td>{{ l[10] }}</td>
                            <td>{{ l[11] }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <br>
</div>
{% endblock %}