{% extends "dashboard.html" %}
{% block person %}
<div class="request-page-def">
    <div class="row">
        <div class="col-md-2"><span class="request-text"> Person </span></div>
        <div class="col-md-10">
        <form>
         <div class="input-group searchbar-length">
          <input type="text" class="form-control" placeholder="ID Number..">
          <span class="input-group-btn ">
            <button class="btn btn-info" type="button"><i class="fa fa-search"></i></button>
          </span>
        </div>
        </form>
        </div>
    </div>
    <br>
</div>
{% endblock %}