<html>
  <head>
    <title>Flask Intro - login page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" oks="{{ ok1 }}">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <style>
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }
    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script>
    window.onload = alerta();
    function alerta(){
        var a = "{{ ok1 }}"
        console.log(a);
        if (a != "True"){
            alert("Something went wrong!");
        }
        else {
            console.log("ok")
        }
    }
    function getStatus(){

    }

</script>
  </head>
  <body id="main">
    <div class="container">
      <h1>Please login</h1>
      <br>
      <form action="/login" method="post">
        <input type="text" placeholder="Username" name="username" value="{{
          request.form.username }}">
         <input type="password" placeholder="Password" name="password" value="{{
          request.form.password }}">
        <button class="btn btn-default" type="submit">Login</button>
      </form>
      {% if error %}
        <p class="error"><strong>Error:</strong> {{ error }} {{ ok1 }}
      {% endif %}

       {% if ok1 == True %}
       <table class="">
            <tr>
                <th>Subject</th>
                <th>Time</th>
                <th>Day</th>
            </tr>
        </table>
       {% endif %}
       <p id="stat" ></p>
    </div>
  </body>
</html>